{% extends 'base.html.twig' %}

{% block title %}Accueil {% endblock %}

{% block body %}

<h1>Gestion des dépenses de la  soirée X</h1>

<table class="table">
    <tr>
        <th>Nom</th>
        <th>Prénom</th>
        <th>Dépense</th>
        <th></th>
    </tr>
    {% for p in personnes %}
        <tr>
            <td>{{ p.nom}}</td>
            <td>{{ p.prenom }}</td>
            <td>{{ p.depense }}</td>
            <td><a href="{{ path("personne_modifier",{"id":p.id}) }}" class="btn btn-sm btn-warning">Modifier</a></td>
        </tr>
    {% endfor %}
</table>


<a href="{{ path("personne_ajouter") }}" class="btn btn-success">
    Ajouter une personne
</a>
    <a href="{{ path("personne_ajouter") }}" class="btn btn-primary">
        Calculer le remboursement
    </a>

{% endblock %}
